.App {
  text-align: center;
}



body{
  background-color: none;
  display: flex;
  margin-left: 2rem;
  margin-top: 5rem;
}

.Table1{
  position: absolute;
  margin-top: .5rem;
  margin-left:-1rem;
  width: '100px';
  height: '100px'
}

#tableau{
  position: absolute;
  margin-left: 25rem;
  width: 5rem;
}


/* App.css */





